<!doctype html>
<html lang="en" data-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home - Spring Boot</title>
	<link rel="stylesheet" th:href="@{/css/pico.css}">
	<link rel="stylesheet" th:href="@{/css/clienteHome.css}">
</head>
<body>
<header class="container-fluid">
	<nav>
		<ul>
			<li><h1><a th:href="@{/}"><strong>PADOKA</strong> 🥖</a></h1></li>
		</ul>
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a href="#" class="secondary">Clientes</a></li>
			<li><a th:href="@{/produtos}" class="secondary">Produtos</a></li>
		</ul>
	</nav>
	<hr>
</header>
<main class="container">

	<table class="striped" th:if="${not clientes.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>NOME</th>
				<th>CPF</th>
				<th>EMAIL</th>
				<th>TELEFONE</th>
				<th>CEP</th>
				<th>AÇÕES</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${clientes}">
				<td th:text="${cliente.id}">1</td>
				<td th:text="${cliente.nome}">João da Silva</td>
				<td th:text="${cliente.cpf}">111.222.333-44</td>
				<td th:text="${cliente.email}">joao@gmail.com</td>
				<td th:text="${cliente.telefone}">1112345678</td>
				<td th:text="${cliente.cep}">01001-000</td>
				<td>
					<a role="button" th:href="@{'/clientes/editar/' + ${cliente.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
						<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
					</svg></a>
					<a role="button" th:href="@{'/clientes/deletar/' + ${cliente.id}}" class="contrast"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
						<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
					</svg></a>
				</td>
			</tr>
		</tbody>
	</table>

	<h3 th:unless="${not clientes.isEmpty()}">Nenhum usuario adicionado</h3>

	<a role="button" th:href="@{/clientes/novo}">Novo Cliente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
		<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
		<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
	</svg></a>

</main>
<footer class="container-fluid">
	<hr>
	<p>Todos os direitos reservados &copy; 2025</p>
</footer>
<script th:src="@{/js/mudar-tema.js}"></script>
</body>
</html>