<!doctype html>
<html lang="en" data-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo Produto</title>
    <link rel="stylesheet" th:href="@{/css/pico.css}">
    <link rel="stylesheet" th:href="@{/css/produtoForm.css}">
</head>
<body>
<header class="container-fluid">
    <nav>
        <ul>
            <li><h1><a th:href="@{/}"><strong>PADOKA</strong> 🥖</a></h1></li>
        </ul>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a href="#" class="secondary">Produtos</a></li>
        </ul>
    </nav>
    <hr>
</header>
<main class="container">

    <h2 th:text="${produto.id} != null ? 'Editando produto' : 'Adicionando produto'"></h2>

    <form th:action="@{/produtos/salvar}" method="post">
        <div class="grid">
            <input type="hidden" th:field="*{produto.id}">

            <label for="nome">
                Nome do Produto
                <input type="text" id="nome" name="nome" th:field="*{produto.nome}" placeholder="Digite o nome do produto" required>
            </label>

            <label for="descricao">
                Descrição
                <textarea id="descricao" name="descricao" th:field="*{produto.descricao}" placeholder="Descrição do produto" required></textarea>
            </label>

            <label for="fabricacao">
                Data de Fabricação
                <input type="date" id="fabricacao" name="fabricacao" th:field="*{produto.fabricacao}" required>
            </label>

            <label for="validade">
                Data de Validade
                <input type="date" id="validade" name="validade" th:field="*{produto.validade}" required>
            </label>
        </div>
        <button type="submit">Salvar</button>
    </form>

</main>
<footer class="container-fluid">
    <hr>
    <p>Todos os direitos reservados &copy; 2025</p>
</footer>
<script th:src="@{/js/mudar-tema.js}"></script>
</body>
</html>
