<!doctype html>
<html lang="en" data-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Produtos - Spring Boot</title>
	<link rel="stylesheet" th:href="@{/css/pico.css}">
</head>
<body>
<header class="container-fluid">
	<nav>
		<ul>
			<li><strong>SENAI MANAGEMENT</strong></li>
		</ul>
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/clientes}" class="secondary">Clientes</a></li>
			<li><a th:href="@{/produtos}" class="secondary">Produtos</a></li>
			<li><button id="mudar-tema">Mudar tema</button></li>
		</ul>
	</nav>
	<hr>
</header>

<main class="container">

	<table class="striped" th:if="${not produtos.isEmpty()}">
		<thead>
		<tr>
			<th>ID</th>
			<th>NOME</th>
			<th>DESCRIÇÃO</th>
			<th>FABRICAÇÃO</th>
			<th>VALIDADE</th>
			<th>AÇÕES</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="produto : ${produtos}">
			<td th:text="${produto.id}">1</td>
			<td th:text="${produto.nome}">Produto Exemplo</td>
			<td th:text="${produto.descricao}">Descrição do produto</td>
			<td th:text="${#temporals.format(produto.fabricacao, 'dd/MM/yyyy')}">01/01/2025</td>
			<td th:text="${#temporals.format(produto.validade, 'dd/MM/yyyy')}">01/01/2026</td>
			<td>
				<a role="button" th:href="@{'/produtos/editar/' + ${produto.id}}">Editar</a>
				<a role="button" th:href="@{'/produtos/deletar/' + ${produto.id}}" class="contrast">Excluir</a>
			</td>
		</tr>
		</tbody>
	</table>

	<h3 th:unless="${not produtos.isEmpty()}">Nenhum produto cadastrado</h3>

	<a role="button" th:href="@{/produtos/novo}">Novo Produto +</a>

</main>

<footer class="container-fluid">
	<hr>
	<p>Todos os direitos reservados &copy; 2025</p>
</footer>
<script th:src="@{/js/mudar-tema.js}"></script>
</body>
</html>
