<!doctype html>
<html lang="pt-br" data-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home - Padoka</title>
	<link rel="stylesheet" th:href="@{/css/pico.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<header class="conteiner-fluid">
	<nav>
		<ul>
			<li><h1><a th:href="@{/}"><strong>PADOKA</strong> 🥖</a></h1></li>
		</ul>
		<ul>
			<li><a th:href="@{/clientes}">Clientes</a></li>
			<li><a th:href="@{/produtos}">Produtos</a></li>
		</ul>
	</nav>
</header>

<main>
	<h1>Boas-Vindas à Padoka!</h1>
	<p>Esse site foi desenvolvido para gestão interna.</p>

	<div class="foto-pao">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN1H_Zc33Aa-Kl8LulBp9iGaZLtk9hah_mCA&s" alt="Pão artesanal">
		<p class="descricao">Pão rústico artesanal com fermentação natural, crosta crocante e miolo macio.</p>
	</div>

	<div class="foto-pao">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN8Y5t6VmyfSN7ERPOl_unMCbuxIh4fmHIVw&s" alt="Pão artesanal">
		<p class="descricao">Bolo cremoso, macio, fofinho, bonito, e o melhor, saboroso.</p>
	</div>
</main>

<footer>
	<p>Todos os direitos reservados &copy; 2025</p>
</footer>

<script th:src="@{/js/mudar-tema.js}"></script>
</body>
</html>